@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    color: white;
}

:root {
    font-size: 62.5%;
}

body, input, button, textarea {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1;

    font-family: 'Nunito', sans-serif;
}





